# Tuto :
# Ignorer un fichier déjà archivé, annuler le suivi du fichier. : git rm --cached FILENAME

# Test pour Push_Swap
5_Push_Swap/Test Gitignore 1.txt
5_Push_Swap/Test Gitignore 1 copy.txt

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.lineee86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Others
*.DS_Store
.DS_Store
